html {
  font-size: calc(1vw / 14.38);
}

body {
  font-family: var(--roboto);
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  background-color: var(--bg1);
  color: var(--white)
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--highlight)
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1438rem;
  padding-inline: 50rem;
  margin-inline: auto;
}

.highlight {
  color: var(--highlight);
}

.button {
  position: relative;
  min-width: 230rem;
  min-height: 60rem;
  background-color: transparent;
  color: var(--white);
  cursor: pointer;

  &:hover {
    &::before {
      border-width: 4px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid var(--highlight);
    pointer-events: none;
    transition: border-width 0.15s ease;
  }
}