html {
  font-size: calc(1vw / 14.38);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  font-style: normal;
  font-weight: 400;
  background-color: var(--bg1);
  color: var(--white)
}

* {
  box-sizing: border-box;
  word-break: break-word;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: var(--highlight)
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1438rem;
  padding-inline: 50rem;
  margin-inline: auto;
}

.highlight {
  color: var(--highlight);
}