//variables
:root {
  // colors
  --bg1: #151313;
  --grey: #9698A333;
  --white: #fff;
  --highlight: #FBFE58;

// fonts
  --roboto: "Roboto", sans-serif;
  --montserrat: "Montserrat", sans-serif;
}

// breakpoints
$tablet: "screen and (max-width: 1024px)";