.footer {
  padding: 80rem 140rem 76rem;
  background-color: var(--grey);
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  margin-bottom: 80rem;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 528rem;
    width: 100%;
    height: 1px;
    background-color: var(--highlight);
  }
}

.footer-logo {
  font-size: 28rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 84rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 54rem 20rem;
  max-width: 483rem;
  width: 100%;
  margin-left: auto;
}

.footer-copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 16rem;
}