.footer {
  padding: 80rem 140rem 76rem;
  margin-top: 200rem;
  background-color: var(--grey);

  &__desc {
    font-family: var(--montserrat);
  }
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  margin-bottom: 100rem;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 528rem;
    width: 100%;
    height: 1px;
    background-color: var(--highlight);
  }
}

.footer-logo {
  font-size: 28rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 100rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 54rem 20rem;
  max-width: 560rem;
  width: 100%;
}

.footer-copyright {
  font-family: var(--montserrat);
  font-size: 16rem;
}