.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 90rem;
  padding-top: 97rem;
  margin-bottom: 200rem;
  overflow: hidden;

  &__title-container {
    position: relative;
    z-index: 1;
    max-width: 1040rem;
  }

  &__title {
    font-family: var(--montserrat);
    font-size: 90rem;
    line-height: 144%;

    &.animated {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    &.ghost {
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__button-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 210rem;
  }

  &__button {
    flex-shrink: 0;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: var(--highlight);
  }

  &__star {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 210rem;
    height: 220rem;
  }
}

.cursor {
  display: inline-block;
  font-weight: 100;
  animation: blink 1s step-end infinite;
  margin-left: 2px;
  color: currentColor;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
