.prices-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 90rem;
}

.pricelist {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 350rem));
  justify-content: center;
  gap: 55rem;
  margin-bottom: 50rem;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 60rem 20rem;
    background-color: var(--grey);
    font-family: var(--montserrat);
    text-align: center;

    &__title,
    &__price {
      font-size: 32rem;
    }

    &__text {
      max-width: 233rem;
      margin-top: 20rem;
    }

    &__rating {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20rem;
      margin-block: 50rem;
    }

    &__icon {
      width: 60rem;
      height: 60rem;
    }
  }
}