@use "../../../default/base/variables" as var;

@media #{var.$tablet} {
  .contacts {
    flex-direction: column;
    gap: 80rem;
    padding-inline: 28rem;
  }

  .contacts-info {
    gap: 0;
  }

  .contacts-text {
    margin-bottom: 46rem;
  }

  .contacts-links {
    gap: 10rem;
    margin-bottom: 16rem;
    
    &__item {
      min-height: 40rem;
      font-size: 24rem;
    }
  }
}