.prices-section {
  margin-bottom: 70rem;
}

.pricelist-card {
  padding: 40rem 20rem 50rem;

  &__title,
  &__price {
    font-size: 20rem;
    font-weight: 500;
  }

  &__text {
    max-width: none;
  }

  &__rating {
    margin-block: 30rem;
  }
}