@use "../../../default/base/variables" as var;

@media #{var.$tablet} {
  .title {
    min-height: 92rem;
    padding-inline: 58rem 10rem;
    margin-bottom: 24rem;
    
    &__text {
      font-size: 28rem;
    }

    &__star {
      left: 0;
      width: 110rem;
    }
  }
}