// ui
@use "ui/logo";
@use "ui/title";

// layouts
@use "layouts/footer";

// section
@use "section/contacts";
@use "section/prices";
@use "section/process";
@use "section/stack";

// modal
@use "modal/contact";